* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section.menu .logo {
  width: 15vh;
  height: auto;
  position: relative;
  top: 35px;
  left: 30px;
}
section.menu #links-menu {
  position: relative;
  left: 500px;
}
section.menu .navbar-inverse .navbar-toggle {
  bottom: 30px;
}
section.menu .navbar-inverse {
  border: none;
}
section.menu .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

section.home-carousel .img-carousel {
  position: relative;
  top: 122px;
}
@media screen and (max-width: 912px) {
  section.home-carousel .img-carousel {
    top: 142px;
    height: 487px !important;
  }
}

section.sobre-fotografo h1 {
  font-family: "Praise", cursive;
  color: #363636;
  text-align: center;
  position: relative;
  top: 30px;
}
section.sobre-fotografo .fotografo {
  text-align: justify;
  position: relative;
  top: 80px;
  margin-left: 16px;
  margin-right: 16px;
}
section.sobre-fotografo .img-fotografo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

section.exibicao-fotos {
  position: relative;
  top: 100px;
}
section.exibicao-fotos .texto-exibicao {
  font-family: "Praise", cursive;
  font-size: 40px;
  color: black;
  position: relative;
  left: 45%;
}
section.exibicao-fotos .snip1336 {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
section.exibicao-fotos .snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
section.exibicao-fotos .snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
section.exibicao-fotos .snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
section.exibicao-fotos .snip1336 figcaption:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
section.exibicao-fotos .snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
section.exibicao-fotos .snip1336 figcaption a:hover {
  opacity: 1;
}
section.exibicao-fotos .snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
section.exibicao-fotos .snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
section.exibicao-fotos .snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
section.exibicao-fotos .snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
section.exibicao-fotos .snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

section.first-text {
  position: relative;
  top: 90px;
}
section.first-text .text-conteudo {
  font-family: "Praise", cursive;
  color: #363636;
  text-align: center;
  position: relative;
  top: 80px;
}
section.first-text .text {
  text-align: justify;
  position: relative;
  top: 100px;
  margin-left: 16px;
  margin-right: 16px;
}

section.contato form {
  position: relative;
  top: 195px;
  background-color: #808080;
}
section.contato .title-recado {
  font-family: "Praise", cursive;
  font-size: 40px;
  color: #fff;
  position: relative;
  left: 15%;
}
section.contato .form-group {
  width: 66%;
  margin-bottom: 15px;
  position: relative;
  left: 15%;
}
section.contato .btn {
  background-color: #483D8B;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 20px;
  font-size: 15px;
  color: #fff;
}

section.footer {
  position: relative;
  top: 180px;
  background-color: #363636;
  color: #fff;
}

.social-icons {
  color: #fff;
}

.tel {
  position: relative;
  bottom: 2px;
}

.icone-contato {
  max-width: 5%;
}

#contato {
  color: #fff;
}

#contato:hover {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
